---
import "../styles/global.css";
import Ga4 from "../layouts/ga4.astro";
import Footer from "../components/Footer.astro";
---

<html lang="he" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Ga4 />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>מדיניות פרטיות - roeytech.dev</title>
  </head>
  <body
    class="bg-[rgb(var(--background))] font-sans text-[rgb(var(--foreground))]"
  >
    <main class="mx-auto max-w-3xl p-4">
      <h1 class="mb-4 text-2xl font-bold">מדיניות פרטיות</h1>
      <p>
        מסמך זה מפרט את אופן איסוף ושימוש המידע באתר roeytech.dev בהתאם לתיקון
        13 לחוק הגנת הפרטיות, תשמ"א-1981.
      </p>
      <p>
        הפרטים שתמסרו באתר ישמשו אותנו ליצירת קשר עמכם בלבד. נשתמש במידע כדי
        לחזור אליכם באמצעות מערכת CRM ובאמצעים ידניים לצורך טיפול בפניותיכם.
      </p>
      <p>
        בנוסף, אנו עשויים לשלוח הודעות דוא"ל אוטומטיות כגון אישור קבלה או עדכון
        סטטוס. הודעות אלו אינן מהוות בלוג או דיוור ספאם, אלא תקשורת בסיסית ומענה
        אוטומטי לפניותיכם.
      </p>
      <p>פרטיכם לא יועברו לצדדים שלישיים אלא אם נדרש על פי דין.</p>
    </main>
    <Footer />
  </body>
</html>
